.background {
    background: url(../../public/img/bg_rbc.jpg);
    background-size: cover;
    height: 100%;
    opacity: 0.3;
    position: fixed;
    width: 100%;
    z-index: -1;
}
.content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 690px;
}
.content img {
    height: auto;
    width: 100%;
}
.cursor-pointer {
    cursor: pointer;
}